@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic);

font-family: 'Open Sans', sans-serif;

html {
  font-family: 'Open Sans', sans-serif;
}
.affix{
  top:0;
  width: 100%;
  z-index: 100;
}
.affix + .container-fluid{
  padding-top: 70px;
  z-index: 100;
}
.bgt {
    /* The image used */
    background-image: url("back.jpeg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: round;
    background-size: auto;
}
body {
  padding-top: 0px;
  font-family: 'Open Sans', sans-serif;
}
.well:hover
{
  box-shadow: -1px 2px 18px #888888;
}
.well {
    position: relative;
    padding: 0px;
    margin-bottom: 10px;
    width: 10%;
    background:#4283f4 ;
}

.well img {
    width: 80%;
    height: 80%;
}
well .caption p 
{
	font-size: 12px;
}